# Python
__pycache__/
*.py[cod]
.venv/
.ipynb_checkpoints
.pytest_cache/

# Data & models
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/
artifacts/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
